{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "endOfLine": "auto"
}